
.container {
  margin: 0 auto;
  height: 100%;
  background: #000;
  padding: 10px 0 50px;
}
.loading {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  z-index: 2000;
  align-items: center;
  width: 100%;
  background: #000;
  height: 100vh;
  color: #fff;
}
/deep/ .slick-dots {
  margin-bottom: 15px;
  button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
    margin: 0 2px !important;
  }
}
.carousel {
  width: 90%;
  padding: 50px 0 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  height: 100%;
  transition: transform 1s, opacity 2s;
  opacity: 0;
  transform: translateY(-500px);
  cursor: pointer;
  margin: 0 auto;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  .carousel-item {
    display: flex !important;
    height: 500px;
    position: relative;
    width: 100%;

    .left-area {
      flex-basis: 50%;
      height: 100%;
      border-radius: 10px 0 0 10px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 10px 0 0 10px;
      }
    }

    .right-area {
      padding: 30px;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      background: #333;
      border-radius: 0 10px 10px 0;

      .title {
        font-size: 40px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: "Bangers", cursive;
      }
      .type {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        font-size: 14px;
      }
      .bottom {
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }
}
.swiper-title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px;
  color: #fff;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.row-popular {
  opacity: 0;
  transform: translateX(-2500px);

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  .swiper-slide {
    transition: all 1s;
    &:hover {
      transform: scale(1.1);
      z-index: 99;
    }
  }
}

.row-upcoming {
  opacity: 0;
  transition: all 1s;
  transform: translateX(2500px);

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}
.row-playing {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-2500px);

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}
.row-rate {
  opacity: 0;
  transition: all 1s;
  transform: translateX(2500px);

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}
.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;

  img {
    width: 95%;
    height: 95%;
  }

  .show-title {
    position: absolute;
    color: #fff;
    font-size: 24px;
    left: 30px;
    bottom: 40px;
    width: 72%;
    font-family: "Bangers", cursive;
    font-family: "Krona One", sans-serif;
    z-index: 10;
    text-shadow: 0 0 5px #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .rating {
    position: absolute;
    color: #fff;
    font-size: 160px;
    right: -30px;
    bottom: -40px;
    font-family: "Diplomata", cursive;
    z-index: 100;
    text-shadow: 0 0 5px #000;
  }

  .bg-text {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 21;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.3s;

    &::after {
      content: "";
      position: absolute;
      opacity: 1;
      transition: all 0.4s ease-out;
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: scale(1, 0);
    }
    &::before {
      content: "";
      position: absolute;
      opacity: 1;
      transition: all 0.4s ease-out;
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: scale(0, 1);
    }
    &:hover {
      opacity: 1;
      &::before {
        transform: scale(1.05, 1);
      }
      &::after {
        transform: scale(1, 1.05);
      }
      .content {
        opacity: 1;
      }
    }

    .bg-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      margin: 0 auto;
    }

    .type {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
  .bg-text-popular {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 21;
    background: rgba(0, 0, 0, 0);
    top: 0;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }

    .bg-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 80%;
      margin: 0 auto;
    }

    .type {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}
/deep/ .ant-drawer-content-wrapper {
  width: 100% !important;
  .ant-drawer-header {
    background: #000;
    border-radius: 0;
    .ant-drawer-title {
      color: #fff;
      margin-left: 80px;
      width: 70%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Bangers", cursive;
      font-family: "Krona One", sans-serif;
    }
    svg {
      color: #fff;
    }
  }
  .ant-drawer-body {
    padding: 0 !important;
  }
  .ant-drawer-header {
    z-index: 100;
    width: 100%;
    position: fixed;
  }
}

.btn-area {
  display: flex;
  z-index: 200;
  top: 12px;
  right: 20px;
  position: fixed;
  justify-content: center;
  width: 90px;
  padding: 4px 2px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all;
  white-space: nowrap;
  &:hover,
  &:focus {
    background-color: #fff;
    color: #000;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(#fff, 0);
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #fff;
    }
  }
}

@media screen and (max-width: 1300px) {
  .swiper-slide {
    .show-title {
      width: 65%;
      font-size: 20px;
    }

    .rating {
      font-size: 150px;
      right: 20px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .swiper-slide {
    .show-title {
      width: 60%;
      font-size: 16px;
      bottom: 30px;
    }

    .rating {
      font-size: 120px;
      right: 20px;
      bottom: -25px;
    }
  }
}
@media screen and (max-width: 800px) {
  /deep/ .slick-dots {
    button {
      width: 5px !important;
      height: 5px !important;
    }
  }
  .swiper-slide {
    .show-title {
      width: 60%;
      font-size: 26px;
      bottom: 40px;
    }

    .rating {
      font-size: 180px;
      right: 30px;
    }
  }
  .carousel {
    width: 95%;
    .carousel-item {
      flex-direction: column;
      height: 100%;
      .left-area {
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px 10px 0 0;
        }
      }
      .right-area {
        position: unset;
        border-radius: 0 0 10px 10px;

        .vote-top {
          top: 20px;
        }
        .title {
          font-size: 36px;
        }
        .type {
          font-size: 14px;
        }
        .bottom {
          margin-top: 30px;
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .row-popular {
    &:hover {
      transform: scale(1);
      margin-left: 0px;
    }
  }
  .swiper-title {
    font-size: 24px;
    margin-left: 20px;
  }
  .swiper-slide {
    .show-title {
      font-size: 26px;
      bottom: 40px;
    }

    .rating {
      font-size: 140px;
      right: 30px;
    }
  }
}
@media screen and (max-width: 490px) {
  .ant-rate {
    font-size: 14px;
  }
  .swiper-slide {
    .show-title {
      width: 60%;
      font-size: 16px;
      bottom: 25px;
    }

    .rating {
      font-size: 110px;
      right: 15px;
      bottom: -30px;
    }
  }
}